.contact-form {
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px); 
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    background: rgba(47, 47, 138, 0.6);
    border: 1px solid;
    border-image-source: linear-gradient(117.73deg, #FFFFFF 6.04%, #000000 99.35%);

    padding: 55px 20px;
    width: 95%;

    @media screen and (min-width: 576px) {
        width: 90%;
        padding: 55px 30px;
    }
    @media screen and (min-width: 768px) {
        padding: 55px 90px;
    }
    @media screen and (min-width: 992px) {
        padding: 55px 90px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 900px;
    }
}

::placeholder {
    font-size: 15px;
    color: white !important;
}
.form-control {
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}
textarea.form-control {
    height: 200px;
} 
.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.3);
}
.contact-designer-image {
    top: -330px;
    left: -120px;
}
form button {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(105.95deg, #C961DE 24.79%, #2954A3 71.87%);
    box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
}