.text-blue-dark {
    color: $color-blue-dark;
}
.text-blue {
    color: $color-blue;
}
.text-blue-light {
    color: $color-blue-light;
}
.text-lightblue {
    color: $color-lightblue;
}
.text-pink {
    color: $color-pink;
}



.bg-pink {
    background-color: $color-pink;
}
.bg-lightblue {
    background-color: $color-lightblue;
}
.bg-blue-light {
    background-color: $color-blue-light;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-blue-dark {
    background-color: $color-blue-dark;
}