.footer-bg {
    width: 200px;
    height: 200px;

    top: -138px;
    left: -40px;

    @media screen and (min-width: 768px) {
        width: 250px;
        height: 250px;
        top: -160px;
    }
    @media screen and (min-width: 992px) {
        width: 300px;
        height: 300px;
        top: -183px;
    }
    @media screen and (min-width: 1200px) {
        width: 350px;
        height: 350px;
        top: -205px;
        left: -70px;
    }
    @media screen and (min-width: 1400px) {
        width: 400px;
        height: 400px;
        top: -227px;
        left: -40px;
    }
}
.footer-illustration {
    display: none;

    @media screen and (min-width: 320px) {
        display: block;
        top: -180px;
        right: -100px;
        width: 200px;
        height: 200px;
    }
    @media screen and (min-width: 360px) {
        display: block;
        top: -240px;
        right: -100px;
        width: 300px;
        height: 300px;
    }

    @media screen and (min-width: 768px) {
        top: -315px;
        right: -140px;
        width: 400px;
        height: 400px;
    }
    @media screen and (min-width: 992px) {
        top: -380px;
        right: -110px;
        width: 500px;
        height: 500px;
    }
    @media screen and (min-width: 1200px) {
        top: -510px;
        right: -180px;
        width: 700px;
        height: 700px;
    }
    @media screen and (min-width: 1400px) {
        top: -740px;
        right: -320px;
        width: 980px;
        height: 980px;
    }
}